<?xml version="1.0"?>
<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2 http://maven.apache.org/xsd/assembly-1.1.2.xsd">

  <id>app</id>
    <formats>
      <format>tar.gz</format>
      <format>zip</format>
    </formats>
    <dependencySets>
      <dependencySet>
        <useProjectArtifact>true</useProjectArtifact>
        <outputDirectory>lib</outputDirectory>
        <unpack>false</unpack>
      </dependencySet>
    </dependencySets>
    <files>
      <file>
        <source>src/main/etc/env.sh</source>
        <outputDirectory>bin</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <!-- SNMP Trap Handler -->
      <file>
        <source>${basedir}/src/main/resources/META-INF/spring/snmp-trap.xml</source>
        <outputDirectory>etc/META-INF/spring</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/json/snmp-trap-filter-queries.json</source>
        <outputDirectory>etc/META-INF/json</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/js/snmp-trap-to-event.js</source>
        <outputDirectory>etc/META-INF/js</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <!-- SNMP Collector -->
      <file>
        <source>${basedir}/src/main/resources/META-INF/spring/snmp-collector.xml</source>
        <outputDirectory>etc/META-INF/spring</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/json/syslog-filter-queries.json</source>
        <outputDirectory>etc/META-INF/json</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/json/pollers.json</source>
        <outputDirectory>etc/META-INF/json</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/json/hosts.json</source>
        <outputDirectory>etc/META-INF/json</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/json/oids.json</source>
        <outputDirectory>etc/META-INF/json</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/js/snmp-to-measure.js</source>
        <outputDirectory>etc/META-INF/js</outputDirectory>
        <fileMode>0744</fileMode>
      </file>

      <!-- Syslog Event Adapter -->
      <file>
        <source>${basedir}/src/main/resources/META-INF/spring/syslog-event-adapter.xml</source>
        <outputDirectory>etc/META-INF/spring</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/json/syslog-filter-queries.json</source>
        <outputDirectory>etc/META-INF/json</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
      <file>
        <source>${basedir}/src/main/resources/META-INF/js/syslog-to-event.js</source>
        <outputDirectory>etc/META-INF/js</outputDirectory>
        <fileMode>0744</fileMode>
      </file>
    </files>
    <fileSets>
      <fileSet>
        <directory>${project.build.directory}/bin</directory>
        <outputDirectory>bin</outputDirectory>
        <fileMode>0755</fileMode>
      </fileSet>
      <fileSet>
        <directory>${project.build.directory}/src/main/resources/mibrepository</directory>
        <outputDirectory>etc/mibrepository</outputDirectory>
        <fileMode>0755</fileMode>
      </fileSet>
    </fileSets>
</assembly>

